<!-- <!doctype html> -->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/libraries/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <title>
        Home Page
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Home Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
    </nav>

    <div class="container-fluid ml-3">
      <!-- Title C++ -->
      <div class="row mt-3">
        <div class="col-md-7">
          <button type="button" class="btn btn-success"><h2>Solana Smart Contract</h2></button>
        </div>
      </div>
      <!-- Author -->
      <div class="row mt-3">
        <div class="col-md-1">
          <h5>Author:</h3>
        </div>
        <div class="col-md-8">
          <h5>TamNguyen</h5>
        </div>
      </div>
      <!-- Email -->
      <div class="row mt-3">
        <div class="col-md-1">
          <h5>Email:</h3>
        </div>
        <div class="col-md-8">
          <h5>huutam1991@gmail.com</h5>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <script type="text/javascript" src="/libraries/jquery-3.6.0.min.js"></script>
    <script src="/libraries/bootstrap.min.js"></script>
  </body>

  <style>
    body {
      background-color: #212121;
      color: white
    }
  </style>
</html>
